In [1]:
pip install pymysql

Collecting pymysql
  Downloading https://files.pythonhosted.org/packages/ed/39/15045ae46f2a123019aa968dfcba0396c161c20f855f11dea6796bcaae95/PyMySQL-0.9.3-py2.py3-none-any.whl (47kB)
Installing collected packages: pymysql
Successfully installed pymysql-0.9.3
Note: you may need to restart the kernel to use updated packages.

In [15]:
import pymysql

connector = pymysql.connect(host= 'localhost',
                            port=3306, 
                            user = 'root',
                            passwd='123456789',
                            db='sample', cursorclass = pymysql.cursors.DictCursor)

In [83]:
type(connector)

pymysql.connections.Connection

In [16]:
type(connector)
cursor = connector.cursor()
type(cursor)

pymysql.cursors.DictCursor

In [17]:
cursor.execute('Select * from 상품')

3

In [18]:
item_table = cursor.fetchall()
item_table

[{'상품코드': '0001', '상품명': '상품1', '메이커명': '메이커1', '가격': 100, '상품분류': '식료품'},
 {'상품코드': '0002', '상품명': '상품2', '메이커명': '메이커2', '가격': 200, '상품분류': '식료품'},
 {'상품코드': '0003', '상품명': '상품3', '메이커명': '메이커3', '가격': 1980, '상품분류': '생활용품'}]

- table의 column명까지 읽어들이고 싶다면?  
-> connector를 선언할 때,   
cursorclass를 dictcursor로 지정해줘야 한다.

Quiz) Pandas를 dataframe으로 저장해보세요.

In [82]:
import pandas as pd

df = pd.DataFrame(item_table)
df

connector.close()

상품 table의 행과 열을 임의로 추가하고 변경해보세요

In [39]:
# df.iloc[3] = ['']
# cursor.execute('alter table 상품 add 판매점 varchar(10)')
cursor.execute("insert into 상품 values ('0004','상품4','메이커3',3000,'자동차','페라리')")

1

In [81]:
cursor.execute("select * from 상품")
# cursor.execute("delete from 상품 where 가격 is NULL")
item_table = cursor.fetchall()
item_table

[{'상품코드': '0001',
  '상품명': '상품1',
  '메이커명': '메이커1',
  '가격': 100,
  '상품분류': '식료품',
  '판매점': None},
 {'상품코드': '0002',
  '상품명': '상품2',
  '메이커명': '메이커2',
  '가격': 200,
  '상품분류': '식료품',
  '판매점': None},
 {'상품코드': '0003',
  '상품명': '상품3',
  '메이커명': '메이커3',
  '가격': 1980,
  '상품분류': '생활용품',
  '판매점': None},
 {'상품코드': '0004',
  '상품명': '상품4',
  '메이커명': '메이커3',
  '가격': 3000,
  '상품분류': '자동차',
  '판매점': '페라리'},
 {'상품코드': '자동차',
  '상품명': '메이커2',
  '메이커명': '상품4',
  '가격': 2500,
  '상품분류': '0004',
  '판매점': '페라리'}]

In [45]:
cursor.execute("update 상품 set 가격=2500 where 상품코드='자동차'")

1

In [49]:
item_one = cursor.fetchone()
item_many = cursor.fetchmany(2)

In [52]:
item_one

- dataframe을 sql로 저장하고 싶다면?

In [57]:
movie_df = pd.read_csv('dataset/movies.csv')

In [60]:
movie_df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [62]:
# pip install sqlalchemy
pymysql.install_as_MySQLdb()

In [63]:
from sqlalchemy import create_engine
import MySQLdb

create_engine(
    "mysql+mysqldb://(username):(passwd)@(server주소)/(db명),encoding='utf8'"
)

In [70]:
engine = create_engine("mysql+mysqldb://root:"+"123456789@localhost/sample",encoding = 'utf-8')
conn = engine.connect()
type(conn), type(engine)

(sqlalchemy.engine.base.Connection, sqlalchemy.engine.base.Engine)

In [68]:
movie_df.to_sql(name='movie_table',con=engine)

In [84]:
conn.close()

In [80]:
from bs4 import BeautifulSoup

import requests
target_url = 'https://search.naver.com/search.naver'
query_dic ={'where':'news', 'query':'트롬 스타일러'}
tmp_dict={'title':[],'address':[]}
for st in range(1,50,10):
    query_dic['start']= st;
    response_ob = requests.get(target_url, query_dic)
    soup = BeautifulSoup(response_ob.content,'lxml')
    tag_list = soup.select('ul.type01 dl dt a')
    for tag in tag_list:
        tmp_dict['title'].append(tag.text)
        tmp_dict['address'].append(tag['href'])
        
        
news_df = pd.DataFrame(tmp_dict)
news_df.to_sql(name='news_table',con = engine)